* {
  font-family: 'Blippo', fantasy;
  text-decoration: none;
  font-weight: normal;
  font-size: 100%
}
.navbar {
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 10;
  background-color: #034488;
}
.nav-home, .nav-menu, .nav-events, .nav-about, .nav-contact {
  float: left;
  display: block;
  font-size: 1em;
  overflow: hidden;
  text-align: center;
  padding: 14px;
  color: #ffffff;
}
div.content, div.footer {
  position: relative;
  top: 8em;
}
h1{
  color: black;
  font-size: 300%;
  margin: 50px;
  border: 2px solid #178fd6;
}