* {
  font-family: 'Blippo', fantasy;
  font-weight: normal;
  font-size: 100%
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar {
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 10;
  background-color: #034488;
}
.nav-home, .nav-apply, .nav-info, .nav-about, .nav-sponsors {
  float: left;
  display: block;
  overflow: hidden;
  font-size: 1em;
  text-align: center;
  padding: 1em;
  color: #ffffff;
  text-decoration: none;
}
.navbar li:hover, .navbar a:hover {
  background-color: #ccdde8;
}
div.content, div.footer {
  position: relative;
  top: 8em;
}
h1{
  color: black;
  font-size: 500%;
  margin: 50px;
  border: 10px solid #178fd6;
  border-radius: 15px;
  text-align: center;
}
#apply{
  color: #034488;
  font-size: 300%;
  margin: 20px;
  border: 5px dotted #edece8;
  text-align: center;
}
#apply:hover {
  background-color: #ccdde8;
  border-color: #034488;
  border-style: solid;
}
