/* Full page definitions */
:root {
  --light-blue: #ccdde8;
  --dark-blue: #034488;
  --pastel-blue: #3273a8;
  --bright-blue: #178fd6;
}
* {
  font-family: 'Blippo', fantasy;
  font-weight: normal;
  font-size: 100%;
}
html, body, .page-content {
  height: 100%;
  margin: 0;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
a {
  text-decoration: none;
}

/* Page-Content */
/* Navbar */
.navbar {
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 10;
  background-color: var(--dark-blue);
}
.nav-btn, .nav-el {
  float: left;
  display: block;
  overflow: hidden;
  font-size: 1em;
  padding: 1em;
  color: #ffffff;
  text-decoration: none;
}
.datetime {
  color: #000000;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 0em 1em;
}
.active {
  background-color: var(--pastel-blue);
}
.navbar li:hover, .navbar a:hover {
  background-color: var(--light-blue);
}

/* Header */
.header {
  position: relative;
  top: 3em;
}
.title{
  color: black;
  font-size: 700%;
  margin: 50px;
  border: 10px solid var(--bright-blue);
  border-radius: 1em;
  background-color: #edece8;
}
.apply{
  color: var(--dark-blue);
  font-size: 300%;
  margin: 20px;
  border: 5px solid transparent;
  background-color: transparent;
}
.apply:hover {
  background-color: var(--light-blue);
  border-color: var(--dark-blue);
  border-radius: 0.5em;
}
.falcon-parallax {
  background-image: linear-gradient(rgba(255,255,255,0.6), rgba(150,150,150,0.8)), url("images/falcon.gif");
  height: 125%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .falcon-parallax {
    background-attachment: scroll;
  }
}

/* Content Section */
.content {
  position: relative;
  top: -2em;
  height: 50%;
  background-color: var(--light-blue);
}
.content #info, .content #about {
  position: relative;
  top: 4em;
}

/* Sponsor Page */
.sponsors-content {
  position: relative;
  height: 275%;
  background-color: var(--light-blue);
}
.sponsor, .subtitle {
  font-size: 1.875em;
  color: var(--dark-blue);
  text-align: center;
  font-family: Georgia, serif;
}
.event-date, .event-location {
  font-size: 1.2em;
  color: var(--dark-blue);
  text-align: center;
  font-family: Garamond, serif;
}
.sponsor-about {
  font-size: 1.25em;
  color: var(--bright-blue);
  text-align: center;
  font-family: Georgia, serif;
}